<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, inital-scale=1">
    <title>Handle Stocks</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>