
    <nav>
        <ul>
            <li class="Home-nav"><a href="#">Home</a></li>
            <li class="Stock-nav"><a href="#">Stocks</a></li>
            <li class="Prices-nav"><a href="#">Stock Prices</a></li>
        </ul>
    </nav>

